@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

body {
  margin: 0;
  background-color: #1E1E1E;
  color: white;
  font-family: "Vollkorn", sans-serif;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0
}

.title {
  text-align: center;
  font-size: 3rem;
  color: greenyellow
}

.window-gap {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background-color: white;
  transform-origin: 0% 50%;
  z-index: 100;
}


.steps-section {
  display: flex;
  align-items: center;
  flex-direction: column;

  .steps-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1000px;
    font-size: x-large;
    gap: 25px;
    position: relative;


    .dog {
      position: sticky;
      top: 100px;
      display: flex;
      flex-direction: column;


      img {
        border-radius: 25px;
      }

      h1 {
        margin: 0 0 25px
      }
    }

    .steps {
      display: flex;
      flex-direction: column;
      gap: 50px;

      .step {
        padding: 30px;
        background-color: #2C2C2C;
        border-radius: 25px;
      }
    }
  }
}


.split-text-section {
  display: flex;
  align-items: center;
  flex-direction: column;

  .split-text-container {
    max-width: 1000px;

    .split-text {
      border-radius: 25px;
      font-size: 2.5rem;
      display: flex;
      flex-wrap: wrap;
      line-height: 1;

      .split-word {
        margin-right: 10px;
        margin-top: 10px;
        position: relative;

        .shadow {
          position: absolute;
          opacity: 0.1;
        }
      }

    }
  }
}


.horizontal-scroll-section {
  height: 300vh;

  .horizontal-scroll-container {
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;

    .images {
      display: flex;
      flex-direction: row;
      padding: 0 50px;

      .image-item img {
        object-fit: cover;
      }
    }
  }
}


.parallax-text-section {
  overflow: hidden;

  .parallax-text-container {
    font-size: 3rem;

    .parallax-text-slider {
      position: relative;
      display: flex;
      white-space: nowrap;
      align-items: center;
      gap: 25px;
    }
  }
}